@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

a {
  text-decoration: none;
}

a:hover {
  color: #FFC107;
}

main {
  padding: 20px;
  min-height: 80vh;
}
